{% extends "register/class_register.html" %}

{% block title %}
All Students
{% endblock title %}

{% block content %}
<h1>All Students</h1>

<table style='border-collapse: collapse'>
    <tr class="studenthdr">
        <th>ID</th>
        <th>Student Name</th>
        <th>English Level</th>
    </tr>
    {% for student in all_students %}
        <tr class="studentrow {% cycle '' 'altrow' %}">
            <td><a href="show/{{ student.id }}">{{ student.id }}</a></td>
            <td>{{ student.name }}</td>
            <td>{{ student.en_level }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}